
<div class="page-header">
	<h1>/<%-version_title%>/<%- route_title %></h1>
</div>
<div>
	<% var methodList = Object.keys(methods); %>
	<% for(var i=0; i<methodList.length; i++){ %>
		<% var details = methods[methodList[i]]; %>
		<h2> <%- methodList[i].toUpperCase() %> <small>HTTP METHOD</small></h2>
		<p>  <%- details %> </p>
	<% } %>
</div>