<div class="col-md-3">
	<div class="page-header">
		<h1>Routes</h1>
	</div>
	<ul class="nav nav-pills nav-stacked">
		<% for(var i=0; i<index.length; i++){ %>
			<li <% if(index[i].isCurrentPage){ %>class="active" } <% } %> >
				<a href="<%- index[i].url%>">
					<%- index[i].name %>
				</a>
			</li>
		<% } %>
	</ul>	
</div>
<div class="col-md-9">
	<%- __yeild %>
</div>